<template>
  <div class="popup">
    <div style="font-size: 24px">Combine Documents</div>
    <div style="margin-top: 8px; margin-bottom: 8px">
      <draggable v-model="documents" @start="drag=true" @end="drag=false">
        <div
          class="list-item" style="display: flex"
          v-for="doc of documents"
          :key="doc._id"
        >
          <div style="min-width: 300px">{{ doc.name }}</div>
          <input type="checkbox" v-model="selectedDocuments[doc._id]" />
        </div>
      </draggable>
    </div>
    <div style="display: flex">
      <button v-on:click="combine">Export</button>
      <button v-on:click="onClose()">Cancel</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import draggable from 'vuedraggable'

@Component({
  name: 'CombineDocuments',
  props: ['onClose'],
  components: { draggable, },
})
export default class CombineDocuments extends Vue {
  documents = []
  selectedDocuments = {}
  mounted() {
    this.documents = [...this.$store.state.document.documents]
  }

  combine() {
    const ids = []
    for (const doc of this.documents) {
      if (!this.selectedDocuments[doc._id]) continue
      ids.push(doc._id)
    }
    this.$store.dispatch('exportDocumentIds', ids)
  }
}
</script>
<style scoped>
.list-item {
  padding: 4px;
  border: 1px solid black;
  margin: 2px;
  border-radius: 2px;
  background: white;
}
</style>
