<template>
  <div class="popup">
    <div>Edit Document</div>
    <input type="text" style="margin-bottom: 8px; margin-top: 8px; width: 300px" v-model="name" />
    <div style="display: flex">
      <button v-on:click="onSave">Save</button>
      <button v-on:click="onClose()">Cancel</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'EditDocument',
  props: ['fileId', 'onClose']
})
export default class EditDocument extends Vue {
  name = ''
  mounted() {
    const file = this.$store.state.document.documents.find((doc) => {
      return doc._id === this.fileId
    })
    this.name = file.name
  }

  async onSave() {
    try {
      await this.$store.dispatch('updateDocument', {
        _id: this.fileId,
        name: this.name,
      })
      this.onClose()
    } catch (err) {

    }
  }
}
</script>
<style scoped>
</style>
