<template>
  <div class="popup">
    <div style="font-size: 24px">Edit Set</div>
    <input type="text" placeholder="name" v-model="name" />
    <div style="margin-top: 8px; margin-bottom: 8px">
      <draggable v-model="documents" @start="drag=true" @end="drag=false">
        <div
          class="list-item" style="display: flex"
          v-for="doc of documents"
          :key="doc._id"
        >
          <div style="min-width: 300px">{{ doc.name }}</div>
          <input type="checkbox" v-model="selectedDocuments[doc._id]" />
        </div>
      </draggable>
    </div>
    <div style="display: flex">
      <button v-on:click="createSet">Save</button>
      <button v-on:click="onClose()">Cancel</button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import draggable from 'vuedraggable'

@Component({
  name: 'EditSet',
  props: ['setId', 'onClose'],
  components: { draggable, },
})
export default class EditSet extends Vue {
  name = ''
  documents = []
  selectedDocuments = {}
  mounted() {
    this.documents = [...this.$store.state.document.documents]
    if (!this.setId) return
    const set = this.$store.state.document.sets.find((s) => s._id === this.setId)
    const ids = set.documentIds.split(',')
    const unselectedDocs = this.documents.filter((doc) => ids.indexOf(doc._id) === -1)
    const keyedDocs = this.documents.reduce((acc, val) => {
      acc[val._id] = val
      return acc
    }, {})
    const sortedDocs = []
    for (const id of ids) {
      this.selectedDocuments[id] = true
      sortedDocs.push(keyedDocs[id])
    }
    sortedDocs.push(...unselectedDocs)
    this.documents = sortedDocs
    this.name = set.name
  }

  async createSet() {
    try {
      const ids = []
      for (const doc of this.documents) {
        if (!this.selectedDocuments[doc._id]) continue
        ids.push(doc._id)
      }
      await this.$store.dispatch('upsertSet', {
        _id: this.setId || undefined,
        documentIds: ids.join(','),
        name: this.name,
      })
      this.onClose()
    } catch (err) {

    }
  }

}
</script>
<style scoped>
.list-item {
  padding: 4px;
  border: 1px solid black;
  margin: 2px;
  border-radius: 2px;
  background: white;
}
</style>
