<template>
  <div style="margin: 8px; min-width: 400px">
    <div style="display: flex; justify-content: space-between">
      <div style="font-size: 24px; font-weight: bold">
        PDFs
      </div>
      <button v-on:click="combiningFiles = true">Combine</button>
    </div>
    <div
      :style="{
        display: 'flex',
        background: index % 2 === 0 ? 'white' : 'lightgray',
        padding: '4px',
      }"
      v-for="(doc, index) of $store.state.document.documents"
    >
      <div style="min-width: 300px">
        {{ doc.name }}
      </div>
      <button v-on:click="viewFile(doc._id)">
        View
      </button>
      <button v-on:click="editingFile = true; editingFileId = doc._id">
        Edit
      </button>
      <button v-on:click="deleteFile(doc._id)">
        Delete
      </button>
    </div>
    <Popup v-if="editingFile" :onClose="() => editingFile = false">
      <EditDocument :fileId="editingFileId" :onClose="() => editingFile = false" />
    </Popup>
    <Popup v-if="combiningFiles" :onClose="() => combiningFiles = false">
      <CombineDocuments :onClose="() => combiningFiles = false"/>
    </Popup>
  </div>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import EditDocument from './EditDocument'
import CombineDocuments from './CombineDocuments'
import axios from 'axios'

@Component({
  name: 'PDFList',
  components: { Popup, EditDocument, CombineDocuments, },
})
export default class PDFList extends Vue {
  editingFile = false
  editingFileId = ''
  combiningFiles = false

  viewFile(_id) {
    window.open(`${axios.defaults.baseURL}/documents/${_id}`, '__blank')
  }

  async deleteFile(_id) {
    try {
      if (!confirm('Delete file?')) return
      await this.$store.dispatch('deleteDocument', { _id })
    } catch (err) {

    }
  }
}
</script>
<style scoped>
</style>
