<template>
  <div class="popup-container" v-on:click="backgroundClick">
    <div v-on:click="consumeClick">
      <slot></slot>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'Popup',
  props: ['onClose'],
})
export default class Popup extends Vue {
  consumeClick(e) {
    e.stopPropagation()
  }

  backgroundClick(e) {
    if (typeof this.onClose === 'function') {
      this.onClose()
    }
  }
}
</script>
<style>
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.popup {
  background: lightgray;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid black;
}
</style>
