<template>
  <div style="margin: 8px; min-width: 400px">
    <div style="display: flex; justify-content: space-between">
      <div style="font-size: 24px; font-weight: bold">
        PDF Sets
      </div>
      <button v-on:click="creatingSet = true">New Set</button>
    </div>
    <div
      :style="{
        display: 'flex',
        background: index % 2 === 0 ? 'white' : 'lightgray',
        padding: '4px',
      }"
      v-for="(set, index) of $store.state.document.sets"
    >
      <div style="min-width: 300px">
        {{ set.name }}
      </div>
      <button v-on:click="exportSet(set._id)">
        Export
      </button>
      <button v-on:click="editingSet = true; editingSetId = set._id">
        Edit
      </button>
      <button v-on:click="deleteSet(set._id)">
        Delete
      </button>
    </div>
    <Popup v-if="editingSet" :onClose="() => editingSet = false">
      <EditSet :setId="editingSetId" :onClose="() => editingSet = false" />
    </Popup>
    <Popup v-if="creatingSet" :onClose="() => creatingSet = false">
      <EditSet :onClose="() => creatingSet = false" />
    </Popup>
  </div>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import EditSet from './EditSet'
import CombineDocuments from './CombineDocuments'
import axios from 'axios'

@Component({
  name: 'PDFList',
  components: { Popup, EditSet, CombineDocuments, },
})
export default class PDFList extends Vue {
  editingSet = false
  editingSetId = ''
  creatingSet = false

  mounted() {
    this.$store.dispatch('loadSets')
  }

  exportSet(_id) {
    this.$store.dispatch('exportSet', { _id })
  }

  async deleteSet(_id) {
    try {
      if (!confirm('Delete set?')) return
      await this.$store.dispatch('deleteSet', { _id })
    } catch (err) {

    }
  }
}
</script>
<style scoped>
</style>
