<template>
  <div id="container">
    <router-view></router-view>
  </div>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'App',
})
export default class App extends Vue {}
</script>
<style>
body {
  margin: 0px;
  padding: 0px;
}
#container {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}
</style>
