<template>
  <div style="display: flex; flex-direction: column; margin: 8px">
    <div class="header">
      <div class="title-text">
        PDF Merge
      </div>
      <img width="251" height="auto" :src="require('../static/logo.png').default" />
      <div>
        <div>
          Upload new PDF
        </div>
        <input type="file" multiple ref="fileSelector" v-on:change="fileChanged" />
        <button v-on:click="uploadFile">
          {{ uploading ? 'Uploading...': 'Upload' }}
        </button>
      </div>
    </div>
    <div style="align-self: center; display: flex; justify-content: space-between; margin-top: 8px">
      <PDFList />
      <SetList />
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import PDFList from './components/PDFList'
import SetList from './components/SetList'

@Component({
  name: 'Home',
  components: { PDFList, SetList, },
})
export default class Home extends Vue {
  files = []
  uploading = false

  mounted() {
    this.$store.dispatch('loadDocuments')
  }

  fileChanged() {
    this.files = this.$refs.fileSelector.files
  }

  async uploadFile() {
    try {
      this.uploading = true
      const formData = new FormData()
      for (const file of this.files) {
        formData.append('document', file)
      }
      await this.$store.dispatch('uploadDocument', formData)
      this.file = []
      this.$refs.fileSelector.value = ''
    } catch (err) {

    } finally {
      this.uploading = false
    }
  }
}
</script>
<style scoped>
.title-text {
  font-size: 30px;
  font-weight: bold;
}
.header {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around; align-items: flex-end;
}
</style>
